@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&family=Rubik+Glitch&display=swap');

.containerLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.containerLogo img {
    border-radius: 100px;
    margin: 5px;
}

.name {
    font-family: Cinzel;
    font-size: 30px;
}

.line {
    border-color: black;
    width: 70vw;
    margin: auto;
}

.containerTitle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: #FFE6EB;
}

.containerNaviBar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #fff;
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.36);
}

.containerNaviBar li {
    margin: 0.8vw;
    list-style: none;
  
}

.containerNaviBar li a {
    text-decoration: none;
    color: #3e3737;
    font-weight: normal;
}

.containerNaviBar li a:hover {
    border-bottom: 2px solid black;
    font-weight: bold;
    color: black;
}


.professional {
    font-size: 15px;
}

.containerTitle :nth-child(3) {
    font-weight: lighter;
}

.timeContainer {
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
}

.timeContainer h4 {
    font-size: 15px;
}

.timeContainer p {
   font-size:  12px;
}


@media (max-width: 775px) {
    .containerLogo {
        margin-top: 5vh;
    }
    .containerLogo img {
        width: 100px;
        height: 100px;
    }
  
    .name {
        font-size: 28px;
    }
    .timeContainer h4, .timeContainer p{
        display: none;
    }
     .containerNaviBar {
        flex-direction: column;
        align-items: baseline;
        justify-content: flex-start;
        width: 50vw;
        height: 100vh;
        margin-top: 2px;
        margin-left: 0vw;
        display: none;
        animation: sleep 1s forwards;
        margin-left: -50vw;
     }
     .containerNaviBar li {
        font-size: 30px;
        margin: 5px;
     }
     .menu {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        width: 100vw;
        justify-content: center;
        cursor: pointer;
        height: 5vh;
        margin-top: 0vh;
     }
     .menu div {
        height: 5px;
        width: 10vw;
        background-color: rgb(16, 15, 15);
        margin: 5px;
    }
    
    @keyframes sleep {
        to {
            transform: translateX(50vw);
        }
    }
}
